{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{{ titre }}{% endblock %}
{% block page_title %}{{ titre }}{% endblock %}

{% block content %}
<div class="content-card" style="max-width: 720px;">
    <form method="post" novalidate>
        {% csrf_token %}
        <div class="row g-3">
            {% for field in form %}
                {% if field.name == 'is_active' %}
                    <div class="col-12">{{ field|as_crispy_field }}</div>
                {% else %}
                    <div class="col-md-6">{{ field|as_crispy_field }}</div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="mt-4 d-flex gap-2">
            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-floppy-disk me-1"></i> Enregistrer</button>
            <a href="{% url 'demandeurs:list' %}" class="btn btn-outline-secondary">Annuler</a>
        </div>
    </form>
</div>
{% endblock %}
